<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Загрузить новый файл.</title>
</head>
<body>
 {% with messages = get_flashed_messages() %}
   {% if messages %}
     <ul class="flashes">
        {% for message in messages %}
         <div class="message_flash">{{ message }}</div>
        {% endfor %}
    </ul>
  {% endif %}
 {% endwith %}

    <h1>Добавить ключи для получения статистики</h1>
    <form method=post action="{{ url_for('index')}}">
      <input type=text name=id placeholder="Seller ID">
        <input type=text name=key placeholder="Ключ API">

        <select name="market" id="file">

        <option value="">--Выберите маркетплейс--</option>
        <option value="oson">Озон</option>
        <option value="wb">ВБ</option>
        <option value="ym">Яндекс</option>
            </select>
      <input type=submit value="Получить данные">
      {{message}}
    </form>
{{download_link}}
</body>
</html>